@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --lightGreen: #09bc62;
  --lightRed: #e83939;
  --lightBlue: #3c9fd7;
  --lightOrange: #efa63a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
