@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf') format('truetype');
  font-weight: 100 900;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --white10: #ffffff1a;
  --white20: #ffffff33;
  --white50: #ffffff80;
  --darkGray: #1A1A1A;
  --lightGreen: #09bc62;
  --lightRed: #e83939;
  --lightBlue: #3c9fd7;
  --lightOrange: #efa63a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
